/*reset of browser's default values*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: roboto;
    font-size: 14px;
}
/*Header*/

header{
    background-color: white;
    opacity: 0.96;
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: start;
    padding: 9px 15px;
    position: fixed;
    width: 100%;
    overflow: hidden;

}

#close-button{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    display: none;
    cursor: url(../Assets/Close3.svg), auto;
}

/*Navigation*/

#menu-link {
    background-color: none;
    color: black;
    border: none;
    cursor: pointer;
}
  
  #menu-link:hover, #menulink:focus {
    background-color: none;
  }
  
  #menu-top-area{
      z-index: 1;
  }

  #menu-content {
    display: none;
    position: static;
    overflow: auto;
  }
  
  #menu-content a {
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    display: block;
    padding: 0.3px;
  }
  
  #menu-content a:hover {
    text-decoration: underline;
  }


#menu-link-2 {
    display: none;
    text-decoration: none;
    color: black;
}

  #menu-bottom-area{
      display: none;
      margin-bottom: 6px;
      grid-column-start: 1;
      align-self: end;
      z-index: 1;
  }

  #menu-bottom-area a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
  }

/*Homepage Banners*/

.banner-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.banner1 {
    width: 100%;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    background-color: black;
}

.headline{
    width: 90%;
}

.banner2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fcfce0;
}
.cosmos{
    width: 90%;
}

.banner3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.antibes{
    width: 90%;
}

.banner4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fcfce0;
}

.rosario{
    width: 90%;
}

.banner5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.orchestra{
    width: 90%;
}

.banner6 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fcfce0;
}

.mikuski{
    width: 90%;
}

.banner7 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.piquenique{
    width: 80%;
}

.banner8 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fcfce0;
}

.antibes{
    width: 90%;
}

.banner9 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}   
.structure{
    width: 93%;
}

.banner10 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fcfce0;
}

.newmachine{
    width: 90%;
}

/*Footer*/

footer{
    padding: 9px 15px;
    display: flex;
    justify-content: right;
    width: 100%;
}

.back_to_top{
    text-decoration: none;
    color: black;
}